@media (max-width: 700px) { 
    .container {
        margin-left: 0px;
        margin-right: 0px;
    }
    nav img {
        margin-left: 0px;
    }
    .main-nav img {
        margin-left: 0px
    }
 }

 @media (max-width: 600px) { 
    #login-btn {
        display: none;
    }
    #register-btn {
        display: none;
    }

}